* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* flex items-center justify-between bg-slate-200 py-5 px-10 shadow-lg  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gainsboro;
    padding: 1rem;
}

.section-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* background-color: red; */
    border: 2px solid black;
}

@media screen and (max-width: 768px) {
    .section-nav ul {
        align-items: start;
        flex-direction: column;
        position: fixed;
        top: 4rem;
        right: 0;
        width: 20rem;
        padding: 1rem;

    }
}

.section-nav ul li {
    list-style-type: none;
    padding: 10px 20px;
    background-color: pink;
}

.section-nav ul li a {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .section-mobile {
       display: none;
    }
}

.icon {
    font-size: 2rem;
    cursor: pointer;
}

.icon:hover {
    background-color: red;
}


