* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.project-desc {
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    padding: 3rem;
    max-width: 700px;
}

body {
    background-image: linear-gradient(to right, #FFF1D0 0%, #99c99c 100%);
}

/* ======================================= */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C2541;
    height: 10vh;
    padding: 0rem 3rem;
    /* border: 1px solid red; */
}

.section-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms ease-in-out;
}

.section-nav.active ul {
    right: -650px;
}

.section-nav ul li {
    list-style-type: none;
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
}


.section-nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.5rem;
    transition: 200ms ease-in-out;
    /* background-color: red; */
}

.section-nav ul li a:hover {
    color: #99c99c;
}

.icon {
    font-size: 2.3rem;
    cursor: pointer;
    color: white;
    transition: 100ms ease-in-out;
}

.icon:hover {
    color: #99c99c;
}

@media screen and (max-width: 768px) {
    .section-nav ul {
        align-items: start;
        flex-direction: column;
        justify-content: start;
        position: fixed;
        top: 5rem;
        right: 0px;
        width: 25rem;
        /* padding: 2rem; */
        /* gap: 2rem; */
        background-color: #323748;
        height: 100vh;
        font-size: 5rem;
    }

    .section-nav ul li a {
        width: 100%;
        padding: 1.7rem;
    }

    .section-nav ul li a:hover {
        background-color: #191c24;
        color: white;
    }
}

@media screen and (min-width: 768px) {
    .section-mobile {
       display: none;
    }
}

@media screen and (max-width: 450px){
    .section-nav ul{
        width: 80vw;
    }
}
